<div>
  <h2 class="title"><%= @director.name %></h2>
</div>

<div>
  <h3 class="subtitle">List of associated companies</h3>
  <ul>
    <% @director.companies.each do |company| %>
      <div class="box">
        <div class="content">
          <h3><%= link_to company.name, company_path(company) %></h3>
          <ul>
            <li>Position in company:
              <%= CompanyDirector.find_by(company_id:company.id, director_id: @director.id).position.capitalize %></li>
            <li>Address:
              <%= company.location.address %>,
              <%= company.location.postcode %>,
              <%= company.location.state %>,
              <%= company.location.country %>.</li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
