<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <img src="<%= asset_url('core-logo.png'); %>" width="112" height="28">
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="<%= companies_path %>" class="navbar-item">
        Search Companies
      </a>

      <a href="<%= directors_path %>"class="navbar-item">
        Search Directors
      </a>
    </div>

    <div class="navbar-end">
          <% if logged_in? %>
            <div class="navbar-item">
              <p>You are logged in as <%= link_to current_user.username, current_user %></p>
            </div>
            <div class="navbar-item">
              <%= link_to "Log out", logout_path, method: "post", class: "button is-primary" %>
            </div>
          <% else %>
            <div class="navbar-item">
              <p> You are not logged in. </p>
            </div>
            <div class="navbar-item">
              <p> <%= link_to "Log in?", login_path, class: "button is-primary" %> </p>
            </div>
            <div class="navbar-item">
              <p> <%= link_to "Sign up?", signup_path, class: "button is-light" %> </p>
            </div>
          <% end %>
    </div>
  </div>
</nav>
