<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>CorporateRisk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
=======
    <title>CoRE: Corporate Research Platform</title>
>>>>>>> app-features
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <p> You are logged in as <%= link_to current_user.username, current_user %> </p>
        <p> <%= link_to "Log out", logout_path, method: "post" %> </p>

      <% else %>
        <p> You are not logged in. </p>
        <p> <%= link_to "Log in?", login_path %> </p>
        <p> or </p>
        <p> <%= link_to "Sign up?", signup_path %> </p>
      <% end %>
    </div>


    <% if flash[:authorized] %>
      <p> <%= flash[:authorized] %> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
